.banner {
    background-color: #c23535;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.option.container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.option {
    flex-basis: 45%;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.option:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.option h2, .option p {
    margin: 0;
    padding: 10px 0;
}

.option button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #961c1c;
    color: white;
    border: none;
    border-radius: 5px;
}

.option button:hover {
    background-color: #c52b2b;
}
