.MuiDrawer-paper {
  background-color: #fffafa;
}

/* Main content styles */
.main-content {
  transition: margin-left 0.3s;
  padding: 1px;
}

.log-out{
  float: right;
}

.notification{
  background-color: transparent;
  border: none; 
  outline: none;
  color: inherit; 
  cursor: pointer; 
  font-size: 24px; 
}