body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
  
  .animal-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    
    .animal {
      margin: 20px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 8px;
    }  