body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-top: 20px;
}
header {
  color: white;
}
em {
  color: red;
}
h3 {
  color: white;
}
button {
  background-color: white;
  border: ridge;
  border-style: ridge;
}
img {
  width: 400px;
  height: auto;
}

