body {
  background-color: rgb(46, 46, 46);
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(43, 43, 43);
  margin-top: 20px;
}
header {
  color: rgb(90, 88, 88);
}
em {
  color: rgb(223, 70, 70);
}
h3 {
  color: white;
}
button {
  background-color: white;
  border: ridge;
  border-style: ridge;
}
img {
  width: 400px;
  height: auto;
}

