body {
    background-color: rgb(41, 41, 41);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(81, 81, 81)
}
h1 {
    color: white;
}
h4 {
    color: red;
}
button {
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}