
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-link {
  float: left;
  border-right: 1px solid #bbb;
}

.nav-link .nav-a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-link .nav-a:hover {
  background-color: #111;
}

.nav-link:last-child {
  border-right: none;
  float: right;
}