
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.nav-link {
  float:none;
  border-right: 1px solid #bbb;
}

.nav-link .nav-a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-link .nav-a:hover {
  background-color: red;
}

.nav-link:last-child {
  border-right: none;
}