.medical-records-page {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

h1 {
    text-align: center;
    color: #333;
}

.add-record-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-record-btn:hover {
    background-color: #45a049; /* Darker green */
}

.records-display-section {
    margin-top: 20px;
}
